
{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Osman Mahmud</title>
	<link href="{% static '/css/main.css'  %}" rel="stylesheet" type="text/css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	
</head>
<body>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<div class="card card-body h-100  border-info" id="profile-wrapper">
					<img id="profile-pic" src="{% static 'images/original.jpg' %}" >
					<hr>
					<h4>Osman Mahmud</h4> 
					<p>antormahmud318@gmail.com   01325-876648 </p>
				</div>
			</div>

			<div class="col-md-9">
				<div class="card card-body h-100  border-info">
					<h4>Objective</h4>
					<hr>
					<p>Enthusiastic and detail-oriented Electronics & Telecommunication Engineering graduate with 
						hands-on experience in different programming through academic and non-academic projects. 
						Eager to apply my skills in programming, problem-solving, and teamwork to contribute to a 
						dynamic software & network engineering team. </p>

					<ul class="social-links">
						<li><img class="social" src="{% static 'images/facebook.png' %}"></li>
						<li><a href="www.linkedin.com/in/osman-mahmud-258737327"><img class="social" src="{% static 'images/linkedin.png' %}"></a></li>
						<li><img class="social" src="{% static 'images/twitter.png' %}"></li>
						<li><img class="social" src="{% static 'images/youtube.png' %}"></li>
					</ul>

				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Educational Qualification</h5>
					<hr>
					<b>Bachelor of Science in Electronics & Telecommunication Engineering</b><br> Chittagong university of Engineering and Technology, Chittagong, Bangladesh (January 2018 – June 2023) 
					<br>
					<ul> <li> <b>Relevant coursework:</b> Programming, Data Structures, Algorithms, Database Systems, 
					Web Development, Software Engineering, Telecommunication, Networking
					</li>
					</ul>
					</div>
				</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>What I Know</h5>
					<hr>
					<p>
						<ul>
							<li><b>Programming Languages:</b> C, C++, JavaScript, Java, Python</li>
							<li><b>Web Technologies:</b> HTML, CSS, Bootstrap, ReactJs, Django</li>
							<li><b>Database Management:</b> SQL</li><br>
							<li><b>Tools & Platforms:</b> Git, Github</li>
						</ul>    
					</p>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Experience</h5>
					<hr>
					<b>Industrial Attachment at Bangladesh Telecommunication Company Limited, Chittagong, Bangladesh</b> 
					where I Contributed to data analysis, learning and applying methodologies and Collaborated with 
					senior engineers on networking technology.Morever gained experience in practical data centers.
				</div>
			</div>

			<div class="col-md-6">
				<div class="card card-body h-100">
					<h5>Projects</h5>
				<hr>
				
				<h6></b><a href="https://github.com/osman-mahmud-antor/c_cpp_fun_projects/blob/main/Hall_Meal_Payment.cpp">Hall Meal Management System</a></b></h6>
				<h6></b><a href="https://github.com/osman-mahmud-antor/c_cpp_fun_projects/blob/main/tic-tac-toe.cpp">Tic-Tac-Toe</a></b></h6>
				<h6></b><a href="https://osman-mahmud-antor.github.io/ToDo_by_React/">To Do App</a></b></h6>
				<h6></b><a href="https://osman-mahmud-antor.github.io/JS-CALCULATOR/">JS Calculator</a></b></h6>
				<h6></b><a href="https://osman-mahmud-antor.github.io/Deparment_Choice_by_react/">University Department information</a></b></h6>

				</div>
			</div>
		</div>
		<br>
	</div>


</body>
</html>